body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 20px;
}

.calculator {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    position: relative; /* Added for positioning the creator text */
}

.creator {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #ccc;
}

.display {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: none;
    text-align: right;
    padding-right: 20px;
    font-size: 36px;
    margin-bottom: 20px;
    background: #333;
    color: #fff;
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    flex: 1;
    margin: 5px;
    height: 70px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    background: linear-gradient(to bottom, #3b3b3b, #1c1c1c);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.button:hover {
    background: linear-gradient(to bottom, #444, #222);
    transform: translateY(-3px);
}

.equal-button {
    background-color: #ff8a00;
    color: #fff;
    border-radius: 10px;
}

.equal-button:hover {
    background-color: #e52e71;
}

.double-width {
    flex: 2;
}

@media (max-width: 360px) {
    .button {
        font-size: 20px;
        height: 50px;
    }

    .equal-button, .double-width {
        width: calc(50px * 2 + 10px);
    }
}
